In [9]:
marks = int(input("Enter the number: "))
if marks <= 100 and marks > 90:
    print("A+")
elif marks <= 90 and marks > 80:
    print("A")
elif marks <= 80 and marks > 70:
    print("B")
elif marks <= 70 and marks > 60:
    print("C")
elif marks <= 60 and marks > 50:
    print("D")
elif marks <= 50 and marks > 40:
    print("E")
elif marks <= 40:
    print("F")
else:
    print("please enter a valid marks !")

Enter the number: 55
D

In [13]:
x = int(input("Enter the number: "))
if x%2 == 0:
    result = (x * 7)/4
    print("print result: ",result)
else:
    print("the number is not an even number !")

Enter the number: 14
print result:  24.5

In [25]:
# Write a program that will take input from the user and wil check whether the last digit of the inout is divisible by 3 or not ?
num = int(input("Enter the value: "))
iid = num % 10
if iid % 3 == 0:
    print("The number is divided by 3....")
else:
    print("The number is not divided by 3....")

Enter the value: 16
The number is divided by 3....

In [29]:
i = 0
for i in range(0 , 11):
    print(i * 2)
print(i * 4)

0
2
4
6
8
10
12
14
16
18
20
40

In [32]:
cities = ['new york city' , 'mountain view' , 'chicago' , 'los']
for city in cities[:]:
    print(city)
    print('Done')
print('Done')

new york city
Done
mountain view
Done
chicago
Done
los
Done
Done

In [33]:
for j in range(1,5):
    print(j)
    print("Hello!")

1
Hello!
2
Hello!
3
Hello!
4
Hello!

In [35]:
# Multiplication table
number = int(input("Enter the number: "))
for i in range (1 , 11):
    result = i * number;
    print(number," X ",i," = ",result)

Enter the number: 15
15  X  1  =  15
15  X  2  =  30
15  X  3  =  45
15  X  4  =  60
15  X  5  =  75
15  X  6  =  90
15  X  7  =  105
15  X  8  =  120
15  X  9  =  135
15  X  10  =  150

In [43]:
for i in range(1 , 10, 2):
    print(i)

1
3
5
7
9

In [45]:
# Creating and modifying list:
cities = ['new your cities' , 'mountains' , 'chicago' , 'los an']
capatalize_cities = []

for i in cities:
    capatalize_cities.append(i)
print(capatalize_cities)

['new your cities', 'mountains', 'chicago', 'los an']

In [47]:
cities = ['new your cities' , 'mountains' , 'chicago' , 'los an']
for i in range(len(cities)):
    cities[i] = cities[i].capitalize()
print(cities)

['New your cities', 'Mountains', 'Chicago', 'Los an']

In [58]:
# Homework done
lst = [2 , 3 , 4 , 5]
new_list = []
for i in range(0 , 4):
    result = lst[i] ** 2
    new_list.append(result)
print(new_list)
print(type(new_list))

[4, 9, 16, 25]
<class 'list'>